<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>VueJS Tutorials</title>
          <link href="style.css" rel="stylesheet" />
          <script src="https://unpkg.com/vue"></script>
     </head>
     <body>
          <h1> Components</h1>
          <div id = "vue-app-one">
               <h2>Vue app two</h2>
               <greeting></greeting>
          </div>

          <div id = "vue-app-two">
               <h2>Vue app two</h2>
               <greeting></greeting>
          </div>

     </body>
     <script src="app.js"></script>
</html>
