<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <title>VueJS Tutorials</title>
     <link href="style.css" rel="stylesheet" />
     <script src="https://unpkg.com/vue"></script>
</head>
<body>
     <div id = "vue-app-data-methods">
          <h1>{{ greet('afternoon') }}</h1>
          <p>Name: {{ name }}</p>
          <p>Job: {{ job }}</p>
     </div>
     <hr>
     <div id = "vue-app-data-binding">
          <h1> Data Binding </h1>
          <a v-bind:href=website> Moodle homepage </a>
          <input type="text" v-bind:value="job" />
          <p v-html="websiteTag"></p>
     </div>
     <hr>
     <div id = "vue-app-events">
          <h1>Events</h1>
          <button @click.once="add(1)">Add a Year</button>
          <button v-on:click="subtract(1)">Subtract a Year</button>
          <button @dblclick="add(10)">Add 10 Years</button>
          <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
          <button v-on:click="balance">Test age limit</button>
          <p>My age is {{age}}</p>
          <div id = "canvas" v-on:mousemove="updateXY">
               {{ x }}, {{y}}
          </div>
          <a @click.prevent="click" href ="https://moodle.cs.colorado.edu/">A disapearing weblink</a>
     </div>
     <hr>
     <div id = "vue-app-event-handeling">
          <h1>Events</h1>
          <button @click.once="add(1)">Add a Year</button>
          <button v-on:click="subtract(1)">Subtract a Year</button>
          <button @dblclick="add(10)">Add 10 Years</button>
          <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
          <p>My age is {{age}}</p>
          <a @click="ageCheck('You are too young for this site', age)" href ="https://moodle.cs.colorado.edu/">A disapearing weblink</a>
     </div>
     <hr>
     <div id = "vue-app-keyboard-events">
          <h1>Keyboard Events</h1>
          <label>Name</label>
          <input type = "text" v-on:keyup.enter="logName"/>
          <label>Age (Press alt + enter to enter age):</label>
          <input type="text"v-on:keyup.alt.enter="logAge">
     </div>
     <hr>
     <div id = "vue-app-two-way-data-binding">
          <h1>Keyboard Events</h1>
          <label>Name</label>
          <input type = "text" v-model="name"/>
          <span>{{ name }}</span>
          <label>Age:</label>
          <input type="text"v-model="age">
          <span>{{ age }} </span>
     </div>
     <hr>
     <div id = "vue-app-Computed-Properties">
          <h1>Computed Properties</h1>
          <button v-on:click = "a++">Add to A</button>
          <button v-on:click = "b++">Add to B</button>
          <p>A = {{ a }} </p>
          <p>B = {{ b }}</p>
          <p>Age + A = {{ addToA }}</p>
          <p>Age + B = {{ addToB }}</p>
     </div>
     <hr>
     <div id ="vue-app-dynamic-css-classes">
          <h1>Dynamic CSS</h1>
          <h2>Example 1</h2>
          <!-- <div v-on:click="available = !available" v-bind:class="{available:available}">
               <span>Cab Availability</span> *Click me to change colors!*
          </div> !-->
          <h2>Example 2</h2>
          <button v-on:click="available = !available">Toogle available</button>
          <button v-on:click="nearby = !nearby">Toogle nearby</button>
          <div v-bind:class="compClasses">
               <span>Cab Availability</span> *Click me to change colors!*
          </div>
     </div>
     <div id = "vue-app-conditionals">
          <h1>Conditionals</h1>
          <button v-on:click="error = !error">Toggle Error</button>
          <button v-on:click="success = !success">Toggle Success</button>
          <p v-if="error">There has been an error</p>
          <p v-else-if="success">Success! Congrats!</p>
          <!--
          <p v-show="error">There has been an error</p>
          <p v-show="success">Success! Congrats!</p>
          !-->
     </div>
     <div id = "vue-app-looping-withv-for">
          <h1>Looping through lists</h1>
          <ul>
               <li v-for="character in characters">{{ character }}</li>
          </ul>
          <ul>
               <li v-for="(toad, index) in toads">{{ index }}.{{ toad.name  }} - {{ toad.attack }}</li>
          </ul>
          <template v-for="(toad, index) in toads">
               <h3> {{ index }}.{{ toad.name  }}</h3>
               <p>{{ toad.attack }}</p>
          </template>
          <template v-for="toad in toads">
               <div v-for="(val,key) in toad">
                    <p>{{ key }} - {{ val }}</p>
               </div>
          </template>
     </div>
</body>
<script src="app.js"></script>
</html>
